{% extends '_base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'accounts/favorite.css' %}"> {% endblock %}

{% block body %}

      <div class="container mt-5 mb-5">
        <div class="row">
            <div class="fa-content mb-5">
                {% for i in product %}
                <a href="{{ i.get_absolute_url }}">
                  <div class="card" style="width: 18rem;">
                <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.name }}" title="{{ i.name }}">
                <div class="card-body">
                    <p class="" style="color: black">{{ i.name }}</p>
                </div>
              </div>
              </a>
                {% endfor %}
            </div>
        </div>
      </div>

{% endblock %}