{% extends '_base.html' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="compare mt-5">
                <div class="col-4">
                    {% for i in data %}
                        <div class="row ">
                            <div class="mb-3">
                                <div class="card" style="display: flex;justify-content: space-around;">
                                    <img src="{{ i.product.image.url }}" class="card-img-top" alt="{{ i.product.name }}" title="{{ i.product.name }}" style="width:200px">
                                <div class="card-body">
                                <h5 class="card-title">{{ i.product.name }}</h5>
                                <p class="card-text">{{ i.product.information }}</p>
                                <h5>discount : {{ i.product.discount }}</h5>
                                <h5>total price : {{ i.product.total_price }}</h5>
                                </div>
                            </div>
                        </div>



                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
</div>