.signup-form{
            width: 50%;
            margin: 0 auto;
        }
        .signup-form button{
           width: 80px;
            margin-top: 20px;
            border-radius: 5px;
            border: 1px solid #A60606;
            background-color: #ffffff;
            color: #A60606;
            transition: all 0.3s ease-in-out;
        }
        .signup-form button:hover{
            color: #ffffff;
            background-color: #A60606;
 }