{% extends '_base.html' %}
{% block title %}Cart{% endblock %}


{% block body %}
        <style>
        .order-form{
            width: 50%;
            margin: 0 auto;
        }
        .order-form button{
           width: 80px;
            margin-top: 20px;
            border-radius: 5px;
            border: 1px solid #A60606;
            background-color: #ffffff;
            color: #A60606;
            transition: all 0.3s ease-in-out;
        }
        .order-form button:hover{
            color: #ffffff;
            background-color: #A60606;
            padding: 5px 7px;
 }
    </style>
 <div class="container mt-5">
    <div class="row">
           <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>product</th>
                <th>Size</th>
                <th>Color</th>
                <th>price</th>
                <th>quantity</th>
                <th>total price</th>
                <th>remove</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cart %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ c.product.image.url }}" alt="{{ c.product.name }}" title="{{ c.product.name }}" style="width: 100px"> </td>
                    <td>{{ c.product.name }}</td>
                    <td>{{ c.variant.size_variant }}</td>
                    <td>{{ c.variant.color_variant }}</td>
                    <td>
                    {% if c.product.status != 'None' %}
                        {{ c.variant.total_price }}
                    {% else %}
                        {{ c.product.total_price }}
                    {% endif %}
                    </td>
                    <td>

                        <a href="{% url 'cart:add_single' c.id %}">+</a>
                        {{ c.quantity }}
                        <a href="{% url 'cart:remove_single' c.id %}">-</a>
                    </td>

                    <td>
                        {% if c.product.status != "None" %}
                            {% widthratio c.variant.total_price 1 c.quantity %}
                        {% else %}
                            {% widthratio c.product.total_price 1 c.quantity %}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'cart:remove_cart' c.id %}">Remove </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7">
                    <td>
                    {{ total }}
                    </td>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
 </div>

<div class="container mt-5">
    <div class="row">
            <form method="post" action="{% url 'order:create_order' %}" class="order-form">
    {% csrf_token %}
    <lable>Email</lable>
    <input type="email" name="email" value="{{ user.email }}" class="form-control">
    <label>First name</label>
    <input type="text" name="first_name" value="{{ user.first_name }}"class="form-control">
    <label>Last name</label>
    <input type="text" name="last_name" value="{{ user.last_name }}" class="form-control">
    <label>Address</label>
    <textarea name="address" value="{{ user.profile.address }}" class="form-control"></textarea>
    <button type="submit">Order</button>
    </form>
    </div>
</div>
{% endblock %}