{% extends '_base.html' %}
{% block title %}{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <h4>{{ order.get_price }}</h4>

            <form method="post" action="{% url 'order:coupon' order.id %}">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Coupon</button>
            </form>
            <a href="{%  url 'order:request' order.id order.get_price %}">Pay</a>
        </div>
    </div>
{% endblock %}